<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:href="@{/createCode-styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/myscripts.js}"></script>
</head>

<body>

<div class="header">
    <div class="title-container">
        <h1 class="main-title">Code Sharing Platform</h1>
    </div>
    <div class="secondary-title-container">
        <h2 class="secondary-title">Put your genius piece of code on the wall for everyone to admire!</h2>
    </div>
    <div class="coding-logo-container">
        <h1 class="coding-logo" href="/code">&lt&gt</h1>
    </div>
    <div class="new-code-link-container">
        <a class="code-list-link" href="/code/latest">View Code List</a>
        <a class="new-code-link" href="/code/new">Publish Your Code</a>
    </div>
</div>

<div class="main-body">
    <div>
        <textarea id="code_snippet" class="text-area" spellcheck="false">//put your code here</textarea>
        <div class="button-area">
            <span>Time restriction</span><input id="time_restriction" type="text"/>
            <span>Views restriction</span><input id="views_restriction" type="text"/>
            <button class="submit-button" id="send_snippet" type="submit" onclick="send()">Submit</button>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-text-container">
        <pre class="footer-text">2020    -    Made with love by Bogdan Enache</pre>
    </div>
</div>

</body>
</html>